<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<div class="header">
		<div class="header_text"><b>Toronto Waste Lookup</b></div>
	</div>
	<form action="#">
		<div class='search'>
			<input type="text" name="search" class='textbox'>
			<input type="submit" class='search_button' value="">
		</div>
	</form>
	<div class='results'>
		<div class='result_entry'>
			<div class='star'>star</div>
			<div class='entry_name'>Entry name</div>
			<div class='entry_description'>
				<ul>
					<li>This should have a <b>bold at the end</b></li>
				</ul>
			</div>
		</div>
	</div>
	<div class='favourites'>
		<div class= 'fav_title'>Favourites Title</div>
		<div class='fav_results'>
			<div class='fav_result_entry'>
				<div class='star'>star</div>
				<div class='entry_name'>Entry name</div>
				<div class='entry_description'>
					<ul>
						<li>This should have a <b>bold at the end</b></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
