<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">


</head>
<body>
	<div class="header">
		<div class="header_text"><b>Toronto Waste Lookup</b></div>
	</div>
	<form action="#" method="post">
		<div class='search'>
			<span class='textbox_contain'>
				<input type="text" name="search" class='textbox'>
			</span>
			<span class='search_button_contain'>
				<input type="image" alt="Submit" src='../images/search.png' class='search_button' name="image" value="">
			</span>
		</div>
	</form>
	<div class='results'>
		<div class='result_entry'>
			<div class='left'>
				<span class ='star'><i class="fas fa-star"></i></span>
				<span class='entry_name'>Blue Bin</span>
			</div>
			<div class='right'>
				<ul>
					<li class='entry_description'>
						This should have a <b>bold at the end</b>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class='favourites'>
		<div class= 'fav_title'><b>Favourites</b></div>
		<div class='fav_results'>
			<div class='result_entry'>
			<div class='left'>
				<span class ='star'><i class="fas fa-star"></i></span>
				<span class='entry_name'>Blue Bin</span>
			</div>
			<div class='right'>
				<ul>
					<li class='entry_description'>
						This should have a <b>bold at the end</b>
					</li>
				</ul>
			</div>
		</div>
		</div>
	</div>
</body>
</html>
