body {
  padding: 10px 200px;
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.header{
	width: 100%;
	height: 150px;
	background-image: linear-gradient(to right, #1d5795 , #22965e);
	text-align: center;
	color: white;
	font-size: 4em;
	margin: 0px;
}
.header_text{
	line-height: 150px;
}
.search{
	width: 100%;
	overflow: hidden;
	display: flex;
	padding-top: 15px;
	padding-bottom: 15px;
}
.textbox_contain{
	margin: 0px;
	flex: 2;
	display: flex;
}
.textbox{
	border: solid 1px;
	border-radius: 5px;
	font-size: 2em;
	padding: 10px;
	width: 100%;
	margin-left: 15px;
}
.search_button_contain{
	float: right;
	width: 56px;
	height: 56px;
	display: inline-block;
	margin-right: 15px;
	margin-left: 15px;
}
.search_button{
	border: none;
	height: 56px;
	width: 56px;
	margin: 0px;
	background-color: #22965e;
	border-radius: 3px;
}
.results{
	margin-bottom: 50px;
	padding: 15px;
}
.result_entry{
	display: grid;
	grid-gap: 5px;
	margin: 5px;
	margin-bottom: 20px;
	grid-template-columns: 50% 50%;
}
.star{
	font-size: 1.1rem;
	margin-right: 10px;
}
.star:hover{
	cursor: pointer;
}
i{
	color: #aaaaaa;
}
span .green{
	color: #22965e;
}

.results, .favourites{
	font-size: 2em;
}
ul{
	margin: 0px;
	padding: 0px;
}
li{
	margin-bottom: 10px;
}
.favourites{
	background-color: #f7fefa;
	padding: 15px;
}
.fav_title{
	color: #22965e;
	font-size: 1.5em;
}